.section-info {
  background: #333;
    display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin: 0rem auto 3rem auto;
  align-items: center;
  box-shadow: 0px -3px 7px -3px rgb(0 0 0 / 30%) inset;
}
.section-title {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 2px 3px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section-title > span {
  text-shadow: none;
  color: #ccc;
  font-size: 2rem;
  position: relative;
  top: -1rem;
}
.tasks_info {
  border-radius: 15px;
  background: #008000ba;
  padding: 2rem;
}
.tasks_info h3 {
  font-size: 2rem;
  margin: 0 auto 2rem auto;
  color: #013f01;
}
.circle {
  width: 5rem;
  height: 5rem;
  background: green;
  line-height: 5rem;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  font-size: 2rem;
  color: #eee;
}
.circle > span {
  text-shadow: 0px 1px 3px #000;
}
/* .circle .num_true{}
  .circle .icon_from{}
  .circle .num_false{} */

.list {
  list-style: none;
  font-size: 1.5rem;
  max-width: 60rem;
  margin: auto;
  position: relative;
}
